<div id="<%= dom_id post %>">
  <p>
    <strong>Carrier:</strong>
    <%= post.carrier %>
  </p>

  <p>
    <strong>State:</strong>
    <%= post.state %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= post.description %>
  </p>

  <p>
    <strong>Phone Number:</strong>
    <%= post.phonenumber %>
  </p>

  

</div>
